{% extends 'base.html' %}

{% block title %}
Add EventMember
{% endblock %}

{% block content %}

<div class="container">
      <h4 class="mt-4">Add New</h4>
      <ol class="breadcrumb mb-4">
         <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
         <li class="breadcrumb-item active">Add New</li>
      </ol>
      <div class="row justify-content-center">
         <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mb-5">
               <div class="card-body">

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>

</div>
</div>
</div>
</div>
</div>




{% endblock %}